:host {
  .choose-customer {
    display: grid;
    grid-template-columns: max-content 40rem;
    align-items: center;
    column-gap: 3rem;
    h5 {
      font-weight: 500;
    }
    mat-form-field {
      min-width: 30rem;
    }
  }

  .invoice-content {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  
    h2 {
      margin-bottom: 3rem;
    }
  
    .invoice-folio {
      padding-right: 3rem;
      border-right: 1px solid #cdcdcd;
    }
  }

  .customer-info {
    display: grid;
    row-gap: 3rem;
    .customer-detail {
      display: grid;
      grid-template-columns: 12rem 1fr;
      column-gap: 1rem;
      align-items: center;
    }
  }
  
}
